<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Cadastro de Livros</h1>
    <br>
    <br>
    <form th:action="@{/salvarLivros}" method="POST">
        <lable>Nome: </lable><input type="text" name="nome" required/>
        <label>Gênero: </label><input type="text" name="genero" required/>
        <label>Número de Páginas: </label><input type="number" name="nump" min="1" required/>

        <label>Editora: </label>
        <select th:field="${livro.editora}" required>
            <option value="">Selecione a Editora</option>
            <option th:each="editora : ${editoras}"
                        th:value="${editora.id}"
                        th:text="${editora.nome}">        
            </option>
        </select>
        <input type="submit" value="Salvar"/>
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Número de Páginas</th>
            <th>Editora</th>
        </tr>
        <tr th:each="livro : ${livros}">
            <td th:text="${livro.id}"></td>
            <td th:text="${livro.nome}"></td>
            <td th:text="${livro.genero}"></td>
            <td th:text="${livro.nump}"></td>
            <td th:text="${livro.editora.nome}"></td>
            <td><a th:href="@{'/removerLivro?id=' + ${livro.id}}">Remover</a></td>
            <td><a th:href="@{'/editarLivro?id=' + ${livro.id}}">Editar</a></td>
        </tr>
    </table>
    <br>
    <a href="/">Menu</a>
    <a href="/autores">Autores</a>
    <a href="/editoras">Editoras</a>

</body>
</html>